# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# Build outputs
dist/
build/
out/
.next/
bin/
obj/

# Debug and system logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
logs
*.log

# Editor & IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.eslintcache

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
